body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.blueprint-container {
    display: flex;
    flex-direction: column; /* Change to column for mobile view */
    align-items: center;
    width: 100%;
}

.blueprint {
    width: 15%; /* Adjust the width for mobile view */
    height: 105px;
    margin-bottom: 5px; /* Add some space between blueprints */
    padding: 5px;
    border: 2px solid #3498db;
    border-radius: 8px;
    cursor: move;
    background-color: #ecf0f1;
    font-size: 11px;
}

.vehicle-container {
    padding: 20px;
    border: 2px dashed #2ecc71;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%; /* Adjust the width for mobile view */
}

.vehicle {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #27ae60;
    border-radius: 5px;
    background-color: #d4efdf;
}
@media (max-width: 600px) {
    .blueprint-container {
        flex-direction: column;
    }

    .blueprint {
        width: 100%;
    }

    .vehicle-container {
        width: 100%;
    }
}